@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Permanent+Marker&display=swap');


#content {
    max-width: 1600px; 
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}




#background {
    height: 725px;
}



body {
    background-color: #0466c8; 
    color: #001845
}
header {
    background-color:#979dac;
    color: #c2c5aa
}
nav a:hover {
    background-color: black; 
    color: white
}

.book, .join {
    background-color: black;
    color: white
}

.book:hover, .join:hover {
    background-color: black;
    color: white

}


#background {
    background-color: #002855;

    color: #001845
}

.msg {
    background-color:black;
    color: white
}

footer {
    background-color: #c2c5aa;
    color: #979dac
}



#hero-img {
    width: 100%;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}



nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
  
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer h3 a:hover{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}


body {
    background-color: #fcfbfb;
    font-family: Josefin Sans;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
     

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

#logo_link {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 5px;
}

.book{
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 15px 30px;

} 

.join {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 15px 30px;

}

.icon {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 10px;
}

.msg {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

.msg p {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-bottom: 15px;
    font-size: 8em;
}

footer {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 25px 50px;
}

footer .social img {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding-top: 15px;
}

.home-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }
  
  .book {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 18px;
  } 
  
  .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

.camping-card, .rapids-card, .rivers-card {
    margin: 200px 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}


nav {
    display: flex;
    justify-content: space-around;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


#hero-msg h4 {
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}


#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}


#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}



